.git/
/vendor/
composer.lock
php_error.log
php-error
error_log
*.log
node_modules/
public/storage
public/uploads
public/hot
docker-compose.override.yml
docker-compose.yml
Dockerfile
docker-compose/
.env
.env.*
*.idea
*.vscode
swagger/
generate-swagger
.DS_Store
Thumbs.db
